.parallax
{
	/* background-image: url('dope.jpg'); */
	width: 100%;
	height: 600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.content
{
	font-size: 25px;
	margin:  40px 40px 40px 40px ;
	border: 3px double purple ;
	border-radius: 10px;
	padding: 40px;
	color: #311449;
}

.content h4
{
	font-family: sans-serif;
	letter-spacing: 5px;
}

#grad
{
	background: linear-gradient(to right, #de6262, #ffb88c);
	font-family: sans-serif;
}