.parallaxeco
{
	/* background-image: url('nature-1552091_1280.png'); */
	width: 100%;
	height: 600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 10px black;

}


#ecocollage 
{
	margin: 40px 40px 0px 70px;
	border: 3px solid #062f03;
	
	padding: 10px 10px 10px 201px;
	box-shadow: 5px 5px #062f03;
}

#bllock1
{
	  background: linear-gradient(to right, #11998e, #38ef7d);
	margin: 0px;
	font-family: 'Alex Brush', cursive;
	font-size: 30px;

}


#bllock2
{

	border: 2px double #4a554a;
font-family: 'Alex Brush', cursive;

}

#tripp
{
	background: linear-gradient(to right, #093028, #237a57);
	font-family: 'Kaushan Script', cursive;
	color: white;
	width: fill;
	height: 72px;
	text-align: center;
	padding-top: 30px;

}

#med
{
	color: white;
	text-align: center;
	padding-top: 20px;
	font-family: 'Alex Brush', cursive;
}

#meed
{
	margin: 10px 20px 20px 20px;
	padding: 20px;
	color: white;
	text-align: center;
	font-size: 30px;
	font-family: 'Alex Brush', cursive;
}

.liste
{
	background: linear-gradient(to right, #093028, #237a57);
	color: white;
	text-align: center;
	font-size: 20px;
	padding-bottom: 10px;
	font-family: 'Alex Brush', cursive;

}

.titlee
{
background: linear-gradient(to right, #093028, #237a57);
	text-align: center;
	
	color: white;
	padding-top: 20px;
	padding-bottom: 10px;
	font-family: 'Kaushan Script', cursive;


}