#financecollage 
{
	margin: 40px 40px 0px 70px;
	border: 3px solid black;
	
	padding: 10px 10px 10px 201px;
	box-shadow: 10px 10px;
}

#block1
{
	/* background: url('ocean-1081783_1920.jpg'); */
	margin: 0px;

}


#block2
{
	border: 2px double #4a554a;


}

#trip
{
	background: black;
	font-family: 'Caveat', cursive;
	color: white;
	width: fill;
	height: 72px;
	text-align: center;
	padding-top: 30px;

}

#zed
{
	color: white;
	text-align: center;
	padding-top: 20px;
}

#zeed
{
	margin: 10px 20px 20px 20px;
	padding: 20px;
	color: white;
	text-align: center;
	font-size: 20px;
}

.listf
{
	background: black;
	color: white;
	text-align: center;
	font-size: 20px;
	padding-bottom: 10px;

}

.titlef
{

	background: black;
	text-align: center;
	font-family: 'Caveat', cursive;
	color: white;
	padding-top: 20px;
	padding-bottom: 10px;

}

.parallaxfin
{
	/* background-image: url('bitcoin-4851387_1280.png'); */
	width: 100%;
	height: 600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 10px black;

}